DISCORD_TOKEN=сюда_токен_бота
GUILD_ID=сюда_id_сервера

ROLE_CIVILIAN=сюда_id_роли
MOD_ROLE_ID=сюда_id_роли_moder
ROLE_STATE=сюда_id_роли
ROLE_GOVERNMENT=сюда_id_роли
ROLE_PROSECUTOR=сюда_id_роли
ROLE_HEALTH_MINISTER=сюда_id_роли
